/*PEN STYLES*/

$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;
$color_red: red;
$color_warning: #f0ad4e;
$max_height: 750px;
.home__blog-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(#000, .1);
    margin-bottom: 1.6%;
    background: $color_white;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    max-height: $max_height;
    padding:0;
    margin:0;
    a {
        color: inherit;
        &:hover {
        color: $color_prime;
        }
    }
    &:hover {
        .home__photo {
            transform: scale(1.3) rotate(1deg);
        }
    }
    .home__meta {
        position: relative;
        z-index: 0;
        height: 300px;
    }
    .home__photo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform .2s;
    }
    .home__details,
    .home__details ul {
        margin: auto;
        padding: 0;
        list-style: none;
    }

    .home__details {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        margin: auto;
        transition: left .2s;
        background: rgba(#000, .6);
        color: $color_white;
        padding: 10px;
        width: 100%;
        font-size: .9rem;
        a {
            text-decoration: dotted underline
        }
        ul li {
            display: inline-block;
        }
    }
    .home__description {
            word-break: break-all;
            padding: 1rem;
            background: $color_white;
            position: relative;
            z-index: 1;
            max-height: $max_height;
            overflow-wrap: break-word;
            overflow-x: hidden;
            height: 450px;
            // background: whitesmoke;
        h1,
        h2 {
            font-family: Poppins, sans-serif;
        }
        h1 {
            line-height: 1;
            margin: 0;
            font-size: 1.7rem;
        }
        h2 {
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
            color: $color_grey_dark;
            margin-top: 5px;
        }
        .read-more {
            text-align: right;
            a {
                color: $color_prime;
                display: inline-block;
                position: relative;
                &:after {
                content: "\f061";
                font-family: FontAwesome;
                margin-left: -10px;
                opacity: 0;
                vertical-align: middle;
                transition: margin .3s, opacity .3s;
                }

                &:hover:after {
                    margin-left: 5px;
                    opacity: 1;
                }
            }
        }
        .home__text{
            max-height:295px;
            overflow-y: scroll;
        }
    }
    p{
        position: relative;
        margin: 1rem 0 0;
        &:first-of-type {
            margin-top: 1.25rem;
            &:before {
                content: "";
                position: absolute;
                height: 5px;
                width: 35px;
                top: -0.75rem;
                border-radius: 3px;
            }
        }
    }
    &:hover {
        .details {
            left: 0%;
        }
    }
    .home__quotes{
        display: block;
        position: relative;
        font-weight: 600;
        text-align: center;
        padding:10px 0;
        font-size: 15px;
    }
    .home__content{
        display: block;
        text-align: justify;
        text-justify: inter-word;
        font-size: 15px;
    }
    .home__readmore{
        text-decoration: none;
        position: absolute;
        float: right;
        background: #DC143C;
        padding:10px;
        color: $color_white;
        bottom: 20px;
        right: 10px;
        box-shadow: 1px 1px 1px#800000;
    }
    .home__readmore:hover{
        color: #c0c0c0;
    }

    @media (min-width: 640px) {
            flex-direction: row;
            max-width: 900px;
        .home__meta {
            flex-basis: 40%;
            height: auto;
            ul{
                list-style-type:none
            }
        }
        .home__description {
            flex-basis: 60%;
            &:before {
                transform: skewX(-3deg);
                content: "";
                background: #fff;
                width: 30px;
                position: absolute;
                left: -10px;
                top: 0;
                bottom: 0;
                z-index: -1;
            }
            // .home__quotes{
            //     padding:20px 0;
            //     font-size: 15px;
            // }
            // .home__content{
            //     font-size: 15px;
            // }
        }
        &.alt {
            flex-direction: row-reverse;
            .home__description {
                &:before {
                left: inherit;
                right: -10px;
                transform: skew(3deg)
                }
            }
            .home__details {
                padding-left: 25px;
            }
        }
    }
}